@charset "utf-8";

.card-deck {
	padding: 0 70px;
}

.card {
	width: 400px;
	height: 430px;
}

.col-sm-2 {
	padding: 0;
	min-width: 400px;
	min-height: 430px;
	margin-top: 60px;
}

.card-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 350px;
	height: 30px;
}

.card-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 250px;
	height: 30px;
}
.navi {
	text-decoration: none;
	color: black;
}

.navi:hover {
	text-decoration: underline;
}
img {
	max-width: 400px;
	max-height: 280px;
}