@charset "utf-8";

.card-deck {
	padding: 0 70px;
}

.card {
	width: 400px;
	height: 430px;
}

.col-sm-2 {
	padding: 0;
	min-width: 400px;
	min-height: 430px;
	margin-top: 60px;
}

.card-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 350px;
	height: 30px;
}

.card-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 250px;
	height: 30px;
}
.navi {
	text-decoration: none;
	color: black;
}

.navi:hover {
	text-decoration: underline;
}
.card-deck img {
	width: 400px;
	height: 280px;
}

#navbar {
	color: white;
	background-color: #dee2e6 !important;
	z-index:1030;
	position: fixed;
	transition: background-color 200ms linear;
}

#navbar .navbar-nav .nav-link {
	color: black;
}

#navbar .navbar-nav .nav-link:hover {
    color: #1e73be;
}

#navbar .navbar-brand {
	color: black;
}

.transition-width { 
    transition: width 10s ease-out; 
    webkit-transition: width 10s ease-out; 
} 