#date{
	align:right;
	width:200px;
}
#fix{
	border-radius: 3px;
	background-color: #4e90fc;
	font-family:명조;
	font-size: 12px;
	transition-duration: 0.4s;
	
	color: white;
}
#fix:hover{
	background-color: white;
    color: #555555;
    
}
#delete{
	border-radius: 3px;
	background-color: #4e90fc;
	font-family:명조;
	font-size: 12px;
	transition-duration: 0.4s;
	
	color: white;
}
#delete:hover{
	background-color: white;
    color: #555555;
    
}
#tolist{
	border-radius: 3px;
	background-color: #4e90fc;
	font-family:명조;
	font-size: 12px;
	transition-duration: 0.4s;
	
	color: white;
}
#tolist:hover{
	background-color: white;
    color: #555555;
    
}

#codelete{
	border-radius: 3px;
	font-size: 5px;
}

#fix2{
	border-radius: 3px;
	background-color: #4e90fc;
	font-family:명조;
	font-size: 12px;
	transition-duration: 0.4s;
	
	color: white;
}
#fix2:hover{
	background-color: white;
    color: #555555;
    
}
#delete2{
	border-radius: 3px;
	background-color: #4e90fc;
	font-family:명조;
	font-size: 12px;
	transition-duration: 0.4s;
	
	color: white;
}
#delete2:hover{
	background-color: white;
    color: #555555;
    
}
#tolist2{
	border-radius: 3px;
	background-color: #4e90fc;
	font-family:명조;
	font-size: 12px;
	transition-duration: 0.4s;
	
	color: white;
}
#tolist2:hover{
	background-color: white;
    color: #555555;
    
}

#confirm{
	border-radius: 3px;
	background-color: #4e90fc;
	font-family:명조; 
	font-size: 15px;
	transition-duration: 0.4s;
	padding: 10px 12px;
	color: white;
}
#confirm:hover{
	background-color: white;
    color: #555555;
}