.container{
	margin-top: 100px;
}

#header{
	display: block;
    width: 10%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#titleinput{
	display: block;
    width: 60%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#summer{
	padding-top:20px;
}

#filediv{
	padding-top:20px;
}

#btmbtn{
	padding-top:20px;
}

#head2{
	padding-top:10px;
}

#title{
	padding-top:10px;
}

#titlediv{
	padding-top:10px;
}

#navbar {
	color: white;
	background-color: #dee2e6 !important;
	z-index:1030;
	position: absolute;
	transition: background-color 200ms linear;
}

#navbar .navbar-nav .nav-link {
	color: black;
}

#navbar .navbar-nav .nav-link:hover {
    color: #1e73be;
}

#navbar .navbar-brand {
	color: black;
}

#myFooter {
    background-color: #3c3d41;
    color: white;
}