body{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;	
}

.container{
	margin-top: 100px;
	white-space: nowrap;
}

.headSelect{
	text-align:right;
}

#freeboard{
	padding-right: 670px;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}
#counboard{
	padding-right: 420px;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}
#tipboard{
	padding-right: 640px;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}
#qnaboard{
	padding-right: 950px;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}

#bestboard{
	font-size: 19px;
	font-weight: bold;
	text-decoration: none;
}

#freeboard:hover{
	text-decoration: none; color:black;
}
#counboard:hover{
	text-decoration: none; color:black;
}
#tipboard:hover{
	text-decoration: none; color:black;
}
#qnaboard:hover{
	text-decoration: none; color:black;
}
#bestboard:hover{
	text-decoration: none; color:black;
}

.header{
	border-radius: 3px;
	background-color: #1e73be;
	font-size: 12px;
	/* transition-duration: 0.4s; */
	padding: 10px 24px;
	color: white;
}

.header:hover{
	background-color: white;
    color: #555555;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#nothing {
	width: 100%;
	text-align: center;
}

a{
	color:black;
}

a.no-uline {
	text-decoration: none; color:black;
}

a:hover {
	text-decoration: none; 
	color:black;
}

a:link {
	color:black;
}

a:active {
	color:black;
}

#write {
	float: right;
	border-radius: 3px;
	background-color: #1e73be;
	font-size: 15px;
	/* transition-duration: 0.4s; */
	padding: 10px 16.35px;
	color: white;
	margin-bottom: 30px;
}

#write:hover {
	background-color: white;
    color: #555555;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#delete {
	float: right;
	border-radius: 3px;
	background-color: #f44242;
	font-size: 12px;
	/* transition-duration: 0.4s; */
	padding: 10px 24px;
	color: white;
}

#delete:hover {
	background-color: white;
    color: #555555;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* #btn{
	border-radius: 3px;
	background-color: #555555;
	font-size: 12px;
	transition-duration: 0.4s;
	padding: 10px 24px;
	color: white;
} */

#sbtn {
    border-radius: 3px;
    background-color: #555555;
    /* padding: 10px 24px; */
    color: white;
}

#sbtn:hover{
	background-color: white;
    color: #555555;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* #no{
	width: 5%;
	text-align: center;
}
#header{
	width: 10%;
	text-align: center;
}
#title{
	width: 50%;
}
#writer{
	width: 10%;
}
#date{
	width: 10%;
}
#view{
	width: 10%;
	text-align: center;
}
#like{
	width: 5%;
	text-align: center;
}
 */


#noticeno{
	width: 5%;
	text-align: left;
}
#noticeheader{
	width: 12%;
	text-align: left;
}
#noticetitle{
	width: 48%;
}
#noticewriter{
	width: 10%;
}
#noticedate{
	width: 10%;
}
#noticeview{
	width: 10%;
	text-align: left;
}
#noticelike{
	width: 5%;
	text-align: left;
}

#navbar {
	color: white;
	background-color: #dee2e6 !important;
	z-index:1030;
	position: fixed;
	transition: background-color 200ms linear;
}

#navbar .navbar-nav .nav-link {
	color: black;
}

#navbar .navbar-nav .nav-link:hover {
    color: #1e73be;
}

#navbar .navbar-brand {
	color: black;
}

.table td, .table th {

    padding: .68rem;

    vertical-align: middle;

    border-top: 1px solid #dee2e6;

}