.navbar-light .navbar-nav .nav-link{
	color:white;
}

.container-fluid::after { 
	border: none; 
}
#navbar{ 
	border:none; 
}
.dropdown-menu{
	background-color:black;
}
.dropdown-menu > li > a{
	color:white;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

#navbar{
	color: white;
	background: transparent;
	z-index:99;
	position: absolute;
}

#demo {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.carousel-inner img {
	width: 100%;
	height: 700px;
}

#first-table{
	float:left;
	height:100%;
	width: 25%;
}
#free{
	padding-left:30px;
	float:left;
}
#free2{
	padding-left:30px;
	float:left;
}

#free3{
	float:left;
	padding-left:150px;
	padding-top: 20px;
}
#free4{
	padding-left:30px;
	float:left;
	position: absolute;
	padding-top:350px;
	height:300px;
}

#free5{
	padding-left:30px;
	float:left;
	position: absolute;
	padding-top:350px;
	padding-left:550px;
	height:300px;
}

.container2{
	margin-left: 150px;
	margin-top:70px;
	min-width:1625px;
	min-height:800px;
}


