.navbar-nav{
	margin-left: 50px;
}

.navbar-light .navbar-nav .nav-link{
	color:white;
}

.dropdown-toggle::after{ 
	display:none;
}

.dropdown-menu{
	background-color:black;
}
.dropdown-menu > li > a{
	color:white;
}


.container {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

#navbar{
	color: white;
	background: transparent;
	z-index:1030;
	position: fixed;
}

#demo {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.carousel-inner img {
	width: 100%;
	height: 700px;
}

#first-table{
	float:left;
	height:100%;
	width: 25%;
}
#free{
	padding-left:30px;
	float:left;
}
#free2{
	padding-left:30px;
	float:left;
}

#free3{
	float:left;
	padding-left:150px;
	padding-top: 20px;
}
#free4{
	padding-left:30px;
	float:left;
	position: absolute;
	margin-top:350px;
	height:300px;
}

#free5{
	padding-left:30px;
	float:left;
	position: absolute;
	margin-top:350px;
	margin-left:550px;
	height:300px;
}

.container2{
	margin-left: 150px;
	margin-top:70px;
	min-width:1625px;
	min-height:800px;
}

.td-contents{
	width: 126px;
	text-overflow:ellipsis; 
	overflow:hidden; 
	white-space:nowrap;	
}

.td-contents2{
	width:80px; 
	height:49px; 
	text-overflow:ellipsis; 
	overflow:hidden; 
	white-space:nowrap;
}
