.navbar-light bg-light .navbar-nav > li > a { 
	color:white; 
	}

.container-fluid::after { 
	border: none; 
}
#navbar{ 
	border:none; 
}
.dropdown-menu{
	background-color:black;
}
.dropdown-menu > li > a{
	color:white;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

#navbar{
	background: transparent;
	z-index:99;
	position: absolute;
}

#carousel-inner{
	height: 500px;
	
}
.carousel-inner > .item active > .img{
	width: 100%;
	height:100%;
}

.carousel-inner > .item > .img{
	width: 100%;
	height:100%;
}

.carousel-inner > .item active{
	height:100%;
}


.carousel-inner > .item{
	height:100%;
}

#first-table{
	float:left;
	height:100%;
	width: 25%;
}
#free{
	padding-left:30px;
	float:left;
}
#free2{
	padding-left:30px;
	float:left;
}

#free3{
	float:left;
	padding-left:50px;
	padding-top: 20px;
}
#free4{
	padding-left:30px;
	float:left;
	position: absolute;
	padding-top:350px;
	height:300px;
}

#free5{
	padding-left:30px;
	float:left;
	position: absolute;
	padding-top:350px;
	padding-left:550px;
	height:300px;
}



